{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
OPTION VALUE
----------------------------------------------------------------------------------------------------------------------

This component renders a single option value. It is a generic component that is used both on product and collection
pages (for metaobject filtering). It can be used to render a swatch, a block or a thumbnail.
{%- endcomment -%}

{%- liquid
  if option_value
    # Récupération de la traduction de la couleur
    assign translated_label = option_value.name | prepend: 'color_options.' | t

    assign label = label | default: translated_label
    assign value = option_value.id
    assign disabled = false
    assign selected = option_value.selected
    assign allow_multiple = false
    assign variant = option_value.variant
    assign swatch = option_value.swatch

    if option_value.product_url != blank and reload_page_for_combined_products
      assign url = option_value.product_url
    endif

    if option_value.available == false
      assign disabled = true
    endif
  elsif filter_value
    assign label = label | default: filter_value.label
    assign value = filter_value.value
    assign param_name = filter_value.param_name
    assign disabled = false
    assign selected = filter_value.active
    assign allow_multiple = true
    assign variant = filter_value.variant
    assign swatch = filter_value.swatch
  endif

  assign downcase_label = translated_label | downcase | strip
-%}

{%- capture id -%}option-value-{{ id_prefix }}-{{ section.id }}-{{ param_name }}-{{ value | handle }}{%- endcapture -%}

{%- liquid
  if type == 'swatch' or type == 'block' and show_swatch
    if swatch.image != blank
      assign swatch_image = swatch.image | image_url: width: 72
      assign swatch_style = '--swatch-background: url(' | append: swatch_image | append: ')'
    elsif swatch.color != blank
      assign swatch_style = '--swatch-background: linear-gradient(to right, ' | append: swatch.color | append: ', ' | append: swatch.color | append: ')'
    endif
  endif
-%}

{%- capture attributes -%}
  {%- if url == blank -%}
    {%- assign option_value_tag = 'label' -%}
    for="{{ id | escape }}"
  {%- else -%}
    {%- assign option_value_tag = 'a' -%}
    href="{{ option_value.variant.url | default: url }}" {% if hide_if_disabled and disabled and selected == false %}hidden{% endif %}
  {%- endif -%}
{%- endcapture -%}

{%- if url == blank -%}
  {%- capture variant_attributes -%}
    {%- if output_variant_media and option_value != blank and variant != blank -%}
      data-variant-id="{{ variant.id }}" {% if variant.featured_media %}data-variant-media="{{ variant.featured_media | json | escape }}"{% endif %}
    {%- endif -%}
  {%- endcapture -%}

  <input class="sr-only" type="{% if allow_multiple %}checkbox{% else %}radio{% endif %}" name="{{ param_name }}" id="{{ id | escape }}" value="{{ value | escape }}" {% if form %}form="{{ form }}"{% endif %} {% if selected %}checked="checked"{% endif %} {% if hide_if_disabled and disabled and selected == false %}disabled{% endif %} {% if option_value and option_value.product_url %}data-product-url="{{ option_value.product_url | escape }}"{% endif %} {% if option_position %}data-option-position="{{ option_position }}"{% endif %} {{ variant_attributes }}>
{%- elsif option_value and option_value.selected -%}
  <input class="sr-only" type="radio" name="{{ param_name }}" id="{{ id | escape }}" value="{{ value | escape }}" data-option-position="{{ option_position }}" {% if form %}form="{{ form }}"{% endif %} checked="checked">
{%- endif -%}

{%- case type -%}
  {%- when 'thumbnail' -%}
    <{{ option_value_tag }} class="thumbnail-swatch" {{ attributes }}>
      <span class="sr-only">{{ translated_label }}</span>
    </{{ option_value_tag }}>

  {%- when 'block' -%}
    <{{ option_value_tag }} class="block-swatch" {{ attributes }}>
      <span>{{ translated_label }}</span>
    </{{ option_value_tag }}>

  {%- when 'swatch' -%}
    <{{ option_value_tag }} class="color-swatch" {% if show_tooltip %}data-tooltip="{{ translated_label | escape }}"{% endif %} style="{{ swatch_style }}" {{ attributes }}>
      <span class="sr-only">{{ translated_label }}</span>
    </{{ option_value_tag }}>

  {%- when 'image_filter' -%}
    <{{ option_value_tag }} class="image-filter" {{ attributes }}>
      <span class="image-filter__label">{{ translated_label }}</span>
    </{{ option_value_tag }}>
{%- endcase -%}
