{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
VARIANT PICKER
----------------------------------------------------------------------------------------------------------------------

Render the variant picker option selectors.

********************************************
Supported variables
********************************************

* product: the product for which to render the selector (required)
* form_id: the ID of the form to which the variant picker belongs (required)
* update_url: if set to true, the URL is updated when the variant changes (usually used for product page)
* hide_sold_out_variants: if set to true, the sold out or unavailable variants are hidden
* hide_size_chart: if set to true, size chart is always hidden
* force_dropdown_as_block: if set to true, the dropdown selectors are replaced by blocks, which is useful for quick buy where dropdown are not convenient to use
* block: the block itself, for theme-specific options (such as selector types)
{%- endcomment -%}

{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign variant_image_options = block.settings.variant_image_options | replace: ', ', ',' | downcase | split: ',' -%}

{%- unless product.has_only_default_variant -%}
  <variant-picker class="variant-picker" section-id="{{ section.id }}" handle="{{ product.handle }}" form-id="{{ form_id }}" {% if update_url %}update-url{% endif %}>
    <script data-variant type="application/json">
      {{- product.selected_or_first_available_variant | json -}}
    </script>

    {%- for option in product.options_with_values -%}
      {% liquid
        assign option_downcase = option.name | downcase
        assign resolved_option_selector_style = block.settings.selector_style

        assign swatch_count = option.values | map: 'swatch' | compact | size

        if swatch_count > 0 and block.settings.swatch_selector_style != 'none'
          assign resolved_option_selector_style = block.settings.swatch_selector_style
        endif

        if swatch_count == 0 and color_label_list contains option_downcase and block.settings.swatch_selector_style != 'none'
          assign resolved_option_selector_style = block.settings.swatch_selector_style
        endif

        if resolved_option_selector_style == 'dropdown' and force_dropdown_as_block
          assign resolved_option_selector_style = 'block'
        endif

        if variant_image_options contains option_downcase
          assign resolved_option_selector_style = 'variant_image'
        endif
      %}

      <fieldset class="variant-picker__option">
        <div class="variant-picker__option-info">
          <div class="h-stack gap-2">
            <legend class="text-subdued">{{ option.name }}:</legend>
            <span>{{ option.selected_value }}</span>
          </div>
        </div>

        {%- if resolved_option_selector_style == 'dropdown' -%}
          <div class="relative">
            <button type="button" class="select">
              <span>{{ option.selected_value }}</span>
              {%- render 'icon' with 'chevron-bottom', class: 'select-chevron' -%}
            </button>

            <x-popover class="popover">
              <p class="h5">{{ option.name }}</p>
              {%- assign param_name = form_id | append: '-option' | append: option.position -%}

              <div data-option-selector class="popover-listbox">
                {%- for option_value in option.values -%}
                  {%- assign color_name = option_value.name | prepend: 'color_options.' | t -%}
                  {%- if hide_sold_out_variants == false or option_value.available or option_value.selected -%}
                    <label class="popover-listbox__option {% unless option_value.available %}is-disabled{% endunless %}">
                      <input class="sr-only" type="radio" name="{{ param_name }}" value="{{ option_value.id }}" {% if option_value.selected %}checked{% endif %}>
                      {{- color_name -}}
                    </label>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </x-popover>
          </div>
        {%- endif -%}

        {%- if resolved_option_selector_style == 'swatch' -%}
          <div class="variant-picker__option-values">
            {%- for option_value in option.values -%}
              {%- assign color_name = option_value.name | prepend: 'color_options.' | t -%}
              {%- render 'option-value', 
                type: 'swatch', 
                form: form_id, 
                option_value: option_value, 
                label: color_name, 
                option_position: option.position 
              -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </fieldset>
    {%- endfor -%}
  </variant-picker>
{%- endunless -%}
